/.mvn/.gradle-enterprise/gradle-enterprise-workspace-id
/.mvn/wrapper/maven-wrapper.jar
**/target/**
/java/tsfile/test.tsfile


# intellij IDE files
**/*.iml
**/.idea/
**/*.log
**/*.ipr
**/*.iws

.DS_Store

docs/node_modules/
docs/src/.vuepress/.cache/
docs/src/.vuepress/.temp/
docs/src/.vuepress/dist/
docs/pnpm-lock.yaml

# python files
python/build
python/tsfile/__pycache__
python/tsfile/*so*
python/tsfile/*dll*
python/tsfile/*dylib*
python/tsfile/*.h
python/tsfile/*.cpp
python/data
python/venv/*
cpp/cmake-build-debug-mingw/

.vscode/settings.json
