/.mvn/.gradle-enterprise/gradle-enterprise-workspace-id
/.mvn/wrapper/maven-wrapper.jar
**/target/**
/java/tsfile/test.tsfile

# intellij IDE files
**/*.iml
**/.idea/
**/*.log
**/*.ipr
**/*.iws

.DS_Store

docs/node_modules/
docs/src/.vuepress/.cache/
docs/src/.vuepress/.temp/
docs/src/.vuepress/dist/

# python files
python/build
python/tsfile/__pycache__
python/tsfile/*.so*
python/tsfile/TsFile_cwrapper.h
python/tsfile/*.cpp
python/data
