build/
.idea/
.cproject
.project
.settings/
.vscode/
cmake-build-*/
third_party/simde-0.8.4-rc3

# Experiment generated outputs
experiment/**/*.tsfile
experiment/**/*.csv
experiment/**/*.png
experiment/**/*.parquet
